*{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#buttonscroll{
    position: relative;
    top: -15%;
    left: 50%;
    transform: translate(-50%);
    opacity: 50%;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

#buttonscroll:hover{
    opacity: 80%;
    
}

body::-webkit-scrollbar {
    display: none;
  }
h1{
    font-size: 64px;
}

p{
    font-size: 26px;
    color: rgb(189, 189, 189);
}

a{
    font-size: 26px;
    color: rgb(189, 0, 196);
    text-decoration: none;
    cursor: pointer;

}

body{
    height: auto;
    width: 100%;
    max-width: 1680px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
   
  
}

.container{
    scroll-snap-type: y mandatory;
    height: 100vh;
    width: 100Vw;
    
}

section{
    scroll-snap-align: start;
    height: 100%;
    width: 100%;
    
}

#monogram{
    width: 10%;
    margin-top: 10%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.scherm{
  position: relative;
  left: -10%;
    width: 90%;
    pointer-events: none;
}

.sec1links{
    position: relative;
    right: -10%;
}

#section1{
   
   display: grid;
   grid-template-columns: 1fr 1fr;
   place-items: center;
   background-image: url(assets/background.png);
    background-size: 110%;
    background-position: center;
}

.contact{
    position: fixed;
    right: 2%;
    top: 2%;
    width: 150px;
    height: 60px;
    background-color: black;
    border-style: none;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    font-size: large;
    font-weight: bold;
    z-index: 99;
}

.contact:hover{
    background-color: white;
    border-color: black;
    color: black;
}

#aboutme{
    letter-spacing: 0px;
    transition: all .3s ease-in-out;
}

#aboutme:hover{
    letter-spacing: 5px;
}


.textcontent{
    position: relative;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section{
    height: 980px;
    width: 100%;
    opacity: 0;
    filter: blur(10px);

    transition: .8s ease-in-out;
}

.sectionShow{
    height: 980px;
    width: 100%;
    opacity: 1;
    filter: blur(0);
   
}

#section3{
    padding-top: 10%;
    text-align: center;
    background-image: url(assets/background.png);
    background-size: cover;
    background-position: center;
}

#section4{
    text-align: center;
    padding-top: 15%;
    background-image: url(assets/background.png);
    background-size: 110%;
    background-position: center;
    
}

#project1{
    padding-top: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#project2{
    padding-top: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 10%;
    margin-left: auto;
    margin-right: auto;
    background-image: url(assets/background.png);
    background-size: 100%;
    background-position: center;
}

#tictactoe{
    margin-right: auto;
}

#tictactoetext{
    margin-left: auto;
}

#chadgpt{
    margin-left: auto;
}

#chadgpttext{

    margin-right: auto;
}

.contactForm{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 25px;
    color: black;
    opacity: 90%;
 
}

#name{
height: 50px;
color: black;
border-radius: 20px;
}


#message{
    color: black;
    height: 150px;
    border-radius: 20px;
}

#email{
    color: black;
    height: 50px;
    border-radius: 20px;
}

#submit{
    width: 80px;
    color: black;
    background-color: purple;
    margin-left: auto;
    border-style: none;
    border-radius: 20px;
}

.contacttext{
    text-align: center;
}

#contactsection{
    padding-top: 12%;
    background-image: url(assets/background.png);
    background-size: cover;
    background-position: center;
}
